*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
echo "# Jedi-Master" >> README.md
git init
git add README.md
git commit -m "first commit"
git remote add origin https://github.com/Geogre177/Jedi-Master.git
git push -u origin master
